{{/*{{define "header"}}*/}}
{{/*  <head>*/}}
{{/*      <meta charset="UTF-8">*/}}
{{/*    <title>Title</title>*/}}
{{/*  </head>*/}}
{{/*{{end}}*/}}

{{/*{{define "layout"}}*/}}
{{/*  <html lang="en">*/}}
{{/*      {{template "header"}}*/}}
{{/*  <body>*/}}
{{/*    <h1>hello</h1>*/}}
{{/*   {{ range $blog :=.}}*/}}
{{/*     <div>*/}}
{{/*       <h3>{{$blog.name}}</h3>*/}}
{{/*       <div>{{convertToHTML $blog.Content}}</div>*/}}
{{/*     </div>*/}}
{{/*     {{end}}*/}}
{{/*  </body>*/}}
{{/*  </html>*/}}
{{/*{{end}}*/}}

<html>
<head><title>test</title></head>
<body>
<h1>hello word</h1>
</body>
</html>